<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd   
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-lazy-init="false" default-autowire="byName">

    <!-- 自动搜索@Controller标注的类 -->
    <context:component-scan base-package="com.lanhun" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 开启自动切面代理 -->
    <aop:aspectj-autoproxy/>

    <!-- #################################################################### -->
    <!-- # 装载属性占位符配置 -->
    <!-- #################################################################### -->
    <context:property-placeholder properties-ref="customProperties"/>
    <bean id="customProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean"
          p:ignoreResourceNotFound="true" p:localOverride="true">
        <property name="locations">
            <!-- 禁止调整加载顺序(注：系统以list最后一个有效的value元素为准) -->
            <list>
                <!-- 标准配置-->
                <value>classpath*:/application-web.properties</value>
                <!--本地开发环境配置-->
                <value>file:/d:/conf/kart/application-web.properties</value>
                <!--服务器生产环境配置-->
                <value>file:/etc/conf/kart/application-web.properties</value>
            </list>
        </property>
    </bean>

    <mvc:interceptors>
        <!-- 更改语言环境时，一个'locale'的请求参数发送  -->
        <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"/>
    </mvc:interceptors>


    <!-- ======================Bean Validation start============================= -->
    <!-- 指定自己定义的validator -->
    <mvc:annotation-driven>
        <!-- 处理responseBody 里面日期类型 -->
        <mvc:message-converters register-defaults="true">
            <bean id="fastJsonHttpMessageConverter"
                  class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="supportedMediaTypes">
                    <value>application/json;charset=UTF-8</value>
                </property>

            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

</beans>